*{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    margin-left: 10px;
}

.menu{
    padding-top: 20px;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 70px;
    background: rgba(56, 56, 56, 0.612);
}

section{
    width: 100%;
    height: 700px;
}

section:nth-of-type(odd){
    background-color: pink;
}

section:nth-of-type(even){
    background-color: rgb(168, 232, 131);
}