
/* h2 */
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');
/* h3 */
@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');
/* h1 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(./images/bag.png), url(./images/fond.png);
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    color: rgb(38, 103, 62);
    background-repeat: no-repeat;
    padding-left: 4rem;
}

.Left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    }


.Container{    
display: flex;
align-items: flex-start;
margin-left: 20px;
height: 100vh;
flex-direction: column;
justify-content: space-between;
}

.text-block{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-bottom: -30px;
    font-weight: 500;
}

h2{
    font-family: 'Economica', sans-serif;
    font-size: 150px;
    margin-bottom: -20px;
}

h3{
    font-family: 'Economica', sans-serif;
    font-weight: 400;
    font-size: 60px;
}

p{
    margin-top: 20px;
    font-size: 15px;
}

.icones{
    display: flex;
    height: 50px;
    margin-top: 40px;
}

.RS{
    display: flex;
    height: 30px;
    width: 30px;
    margin-bottom: 30px;
}

.icones>img{
    width: 50px;
    margin-right: 20px;
}

.RS>img{
    width: 30px;
    margin-right: 20px;
}