*{
    margin: 0;
}

section{
    width: 600px;
    height: 600px;
    display: flex;
    /* mode vertical */
    flex-direction: column;
    /* les propriétés d'alignement sont inversées */
    justify-content: center;
    align-items: center;
    margin: 80px auto 0 auto;
    padding: 50px;
    background: gray;
}

div{
    width: 100px;
    height: 60px;
}

div:nth-of-type(odd){
    background: blue;
}

div:nth-of-type(even){
    background: red;
}