/* reset des marges */
*{
    margin: 0;
}

/* tous les éléments de class .box */
.box{
    width: 500px;
    height: 300px;
}

/* boites impaires */
.box:nth-child(odd){
    background-color: aquamarine;
}

/* boites paires */
.box:nth-child(even){
background-color: violet;
}

div{
    margin-left: 60px;
    margin-bottom: 40px;
}

/* boite est centrée horizontalement */
footer{
    margin-left: auto;
    margin-right: auto;
}